.main-header .info-button, main .about-me .about-me__info .download-cv, .portfolio .info-button-load_more .button, .contact-form #submit-button {
  background-color: rgba(0, 0, 0, 0);
  width: 160px;
  height: 50px;
  border: 1px solid #4d4d4d;
  color: #4d4d4d;
  font-family: "Asap", sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase; }
  .main-header .info-button:hover, main .about-me .about-me__info .download-cv:hover, .portfolio .info-button-load_more .button:hover, .contact-form #submit-button:hover {
    box-shadow: 0 18px 27px 2px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border: none;
    transition-delay: 30ms; }

main .about-me .about-me__info .decoration-rectengle, .services .services-title .decoration-rectengle, .my-skills .my-skills-title .decoration-rectengle, .portfolio .portfolio-title .decoration-rectengle, .contact .contact-title .decoration-rectengle {
  width: 60px;
  height: 4px;
  background-color: #212121;
  opacity: 0.6; }

main .about-me .about-me__info .about-me__title, .services .services-title .services-main-title, .my-skills .my-skills-title .my-skills-main-title, .portfolio .portfolio-title .portfolio-main-title, .contact .contact-title .contact-main-title {
  opacity: 0.8;
  color: #4d4d4d;
  font-family: "Asap", sans-serif;
  font-size: 42px;
  font-weight: 700;
  line-height: 49px;
  text-transform: uppercase;
  letter-spacing: 4.52px;
  margin-bottom: 15px; }

body {
  width: 100%; }

header {
  width: 100%;
  height: 800px;
  background-image: url(img/header_bg_image.png);
  background-size: cover;
  margin-bottom: 110px; }

nav .logo {
  height: 55px;
  width: 81px;
  padding-top: 30px;
  margin-left: 7.3%; }
  nav .logo #logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px; }
  nav .logo .logo-name {
    width: 81px;
    color: #000000;
    font-family: Lato, "sans-serif";
    font-size: 15.4px;
    font-weight: 300;
    line-height: 14px;
    text-transform: uppercase;
    margin-bottom: 5px; }
  nav .logo .logo-description {
    width: 37px;
    height: 4px;
    color: #000000;
    font-family: Lato, "sans-serif";
    font-size: 5.5px;
    font-weight: 400;
    line-height: 15.92px;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto; }
nav .navigation {
  width: 460px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  right: 7.3%;
  top: 30px; }
  nav .navigation .navigation-item {
    color: #4d4d4d;
    font-family: Asap, "sans-serif";
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none; }
    nav .navigation .navigation-item .navigation-item__link {
      display: block;
      height: 26px;
      color: #4d4d4d !important;
      text-decoration: none; }
      nav .navigation .navigation-item .navigation-item__link:hover {
        border-bottom: 2px solid #4d4d4d; }

.main-header {
  margin-left: 7.3%;
  margin-top: 170px; }
  .main-header .header-image {
    position: absolute;
    right: 7.3%;
    top: 100px; }
  .main-header .designer-name {
    color: #4d4d4d;
    font-family: Asap;
    font-size: 90px;
    font-weight: 500; }
  .main-header .designer-name__info {
    opacity: 0.54;
    color: #4d4d4d;
    font-family: Asap;
    font-size: 22px;
    font-weight: 500;
    margin-top: 10px;
    margin-left: 7px;
    margin-bottom: 28px; }

.info-buttons {
  width: 340px;
  display: flex;
  justify-content: space-between; }

main .about-me {
  width: 100%;
  height: 443px;
  position: relative;
  margin-bottom: 125px; }
  main .about-me .about-me__info {
    width: 471px;
    height: 325px;
    position: absolute;
    top: 70px;
    left: 7.3%; }
    main .about-me .about-me__info .decoration-rectengle {
      margin-bottom: 20px; }
    main .about-me .about-me__info .about-me__title {
      width: 313px;
      height: 83px; }
    main .about-me .about-me__info .aboit-me__description {
      width: 469px;
      height: 121px;
      color: #4d4d4d;
      font-family: Asap;
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
      margin-bottom: 25px; }
    main .about-me .about-me__info .download-cv {
      width: 250px;
      height: 50px; }
  main .about-me .about-me__photo {
    position: absolute;
    right: 7.3%;
    top: 0; }

.services {
  width: 100%;
  height: 693px;
  background-color: #f6f6f6; }
  .services .services-title {
    width: 235px;
    height: 82px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 117px;
    margin-bottom: 60px; }
    .services .services-title .decoration-rectengle {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 10px; }
    .services .services-title .services-main-title {
      letter-spacing: 8.5px; }

.services-items {
  width: 72%;
  height: 343px;
  margin-left: auto;
  margin-right: auto; }
  .services-items .services-items__first-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 77px;
    position: relative; }
    .services-items .services-items__first-row .service-items__item:nth-child(2) {
      margin-top: 14px; }
    .services-items .services-items__first-row .service-items__item .service-items__item--image {
      display: block;
      margin-left: auto;
      margin-right: auto; }
    .services-items .services-items__first-row .service-items__item .service-item__text {
      color: #4d4d4d;
      font-family: "Asap", sans-serif;
      font-size: 22px;
      font-weight: 500;
      line-height: 49px;
      width: 196px;
      text-align: center; }
  .services-items .services-items__second-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .services-items .services-items__second-row .service-items__item:nth-child(1), .services-items .services-items__second-row .service-items__item:nth-child(3) {
      margin-top: 6px; }
    .services-items .services-items__second-row .service-items__item:nth-child(1) .service-item__text {
      margin-top: 8px;
      line-height: 30px; }
    .services-items .services-items__second-row .service-items__item .service-items__item--image {
      display: block;
      margin-left: auto;
      margin-right: auto; }
    .services-items .services-items__second-row .service-items__item .service-item__text {
      width: 206px;
      color: #4d4d4d;
      font-family: "Asap", sans-serif;
      font-size: 22px;
      font-weight: 500;
      line-height: 49px;
      text-align: center; }

.my-skills {
  width: 995px;
  height: 760px;
  margin-left: auto;
  margin-right: auto; }
  .my-skills .my-skills-title {
    width: 235px;
    height: 82px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 117px;
    margin-bottom: 55px; }
    .my-skills .my-skills-title .decoration-rectengle {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 10px; }
    .my-skills .my-skills-title .my-skills-main-title {
      letter-spacing: 6.5px;
      width: 246px; }

.graph {
  width: 995px;
  height: 368px;
  margin-left: auto;
  margin-right: auto; }
  .graph .graph-background {
    position: relative;
    width: 949px;
    height: 362px;
    background-color: #fafafa;
    background-image: url(img/wave_bg_stroke.png);
    float: right; }
    .graph .graph-background .graph-percents {
      margin-top: -32px;
      margin-left: -42px; }
      .graph .graph-background .graph-percents .percent {
        color: #4d4d4d;
        font-family: Asap;
        font-size: 15px;
        font-weight: 400;
        line-height: 63px; }
    .graph .graph-background .graph-skill-wave {
      position: absolute;
      top: -6px;
      left: -32px; }
    .graph .graph-background .graph-dots {
      position: relative; }
      .graph .graph-background .graph-dots .dot {
        width: 14px;
        height: 14px;
        border-radius: 7px;
        background-color: black;
        position: absolute; }
        .graph .graph-background .graph-dots .dot:nth-child(1) {
          left: 90px;
          top: 110px; }
        .graph .graph-background .graph-dots .dot:nth-child(2) {
          left: 312px;
          top: 172px; }
        .graph .graph-background .graph-dots .dot:nth-child(3) {
          left: 543px;
          top: 19px; }
        .graph .graph-background .graph-dots .dot:nth-child(4) {
          left: 745px;
          top: 110px; }
    .graph .graph-background .graph-design-instruments {
      position: relative; }
      .graph .graph-background .graph-design-instruments .instrument {
        position: absolute; }
        .graph .graph-background .graph-design-instruments .instrument:nth-child(1) {
          left: 82px;
          top: 380px; }
        .graph .graph-background .graph-design-instruments .instrument:nth-child(2) {
          left: 304px;
          top: 380px; }
        .graph .graph-background .graph-design-instruments .instrument:nth-child(3) {
          left: 535px;
          top: 380px; }
        .graph .graph-background .graph-design-instruments .instrument:nth-child(4) {
          left: 737px;
          top: 380px; }

.portfolio {
  width: 100%;
  height: 1195px;
  background-color: #f6f6f6; }
  .portfolio .portfolio-title {
    width: 256px;
    height: 82px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 117px;
    margin-bottom: 55px; }
    .portfolio .portfolio-title .decoration-rectengle {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 10px; }
  .portfolio .info-button-load_more {
    display: block;
    width: 190px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px; }
    .portfolio .info-button-load_more .button {
      width: 190px; }

.photo-collage {
  margin-left: auto;
  margin-right: auto;
  width: 1166px;
  display: grid;
  grid-template-columns: 400px 400px 368px;
  grid-auto-rows: 350px; }
  .photo-collage .photo-collage-item:hover {
    box-shadow: 0 0 37px 12px rgba(0, 0, 0, 0.15); }

.testimonials {
  width: 100%;
  height: 700px; }

.results {
  width: 100%;
  height: 300px;
  background-color: #f6f6f6;
  margin-bottom: 154px; }
  .results .result-table {
    padding-top: 50px;
    width: 78%;
    height: 183px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto; }
    .results .result-table .results-item {
      width: 190px;
      height: 183px; }
      .results .result-table .results-item:nth-child(2) {
        margin-top: 21px; }
      .results .result-table .results-item:nth-child(3) {
        margin-top: 24px; }
      .results .result-table .results-item:nth-child(4) {
        margin-top: 16px; }
      .results .result-table .results-item .results-item--image {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px; }
      .results .result-table .results-item .results-item--count {
        color: #363636;
        opacity: 0.9;
        font-family: "Asap", sans-serif;
        font-size: 22px;
        font-weight: 600;
        line-height: 32px;
        text-transform: uppercase;
        text-align: center; }
      .results .result-table .results-item .results-item--decription {
        opacity: 0.9;
        color: #363636;
        font-family: "Asap", sans-serif;
        font-size: 22px;
        font-weight: 500;
        line-height: 32px;
        text-transform: uppercase;
        text-align: center; }

.contact {
  width: 100%;
  height: 787px;
  background-image: url(img/contact_bg.jpg);
  background-size: cover;
  position: relative; }
  .contact .contact-title {
    width: 260px;
    height: 82px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 117px;
    margin-bottom: 70px; }
    .contact .contact-title .decoration-rectengle {
      background-color: white;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 10px; }
    .contact .contact-title .contact-main-title {
      color: white;
      opacity: 1; }

.contact-form {
  width: 770px;
  height: 375px;
  margin-left: auto;
  margin-right: auto; }
  .contact-form .contact-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px; }
    .contact-form .contact-info #name {
      width: 370px;
      height: 57px; }
    .contact-form .contact-info #email {
      width: 370px;
      height: 57px; }
  .contact-form #text {
    width: 100%;
    height: 207px;
    font-family: "Asap", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 67px; }
  .contact-form #submit-button {
    width: 123px;
    background-color: white;
    border-color: white; }

input[type="text"], input[type="email"] {
  font-family: "Asap", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 67px; }

input[type="submit"] {
  background: url(img/send-button.png) no-repeat 80% 50%; }

#submit-button {
  margin-left: 42%;
  margin-top: 30px; }

#text::-moz-placeholder {
  padding-left: 10px; }

.link-top {
  width: 45px;
  height: 41px;
  background-color: white;
  position: absolute;
  right: 2.2%;
  bottom: 170px; }
  .link-top .link-top-image {
    width: 40px;
    height: 40px; }

/*# sourceMappingURL=main.css.map */
